<html>
  <head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
      <link rel="stylesheet" type="text/css" href="/font/iconfont.css">
    <link rel="stylesheet" href="popup.css" >
    <script src="/assets/js/vue.js"></script>
  </head>
  <body class="loading">
    <div class="roms">
      <div class="nav  am-avg-sm-4  am-thumbnails">
        <div class=" am-thumbnail  " v-on:click="users"><i class="iconfont icon-yonghu"></i></div>
        <div class=" am-thumbnail  " v-on:click="syncs"><i class="iconfont icon-banben"></i></div>
        <div class=" am-thumbnail "   v-on:click="tools" ><i class="iconfont icon-gongju"></i></div>
        <div class=" am-thumbnail "  v-on:click="msgs"><i class="iconfont icon-xiaoxi"></i></div>
      </div>
      <div class="content">
        <div class="users zi" v-if="page===1" >
          <div class="login" v-if="user.status===0">
            <h1>书签同步</h1>
          <input class="am-form-field am-round" type="text"><br>
          <input class="am-form-field am-round" type="text"><br>
          <button v-on:click='login' class="am-btn am-btn-primary">登录</button>
          <button class="am-btn am-btn-primary">注册</button>
          </div>
          <div class="status" v-if="user.status===1">
            <div class="logo"><i>头像</i></div>
            <br>
            <div>
              <button class="am-btn am-btn-primary">修改密码</button>
              <button v-on:click='logout' class="am-btn am-btn-primary">注销用户</button>
            </div>
          </div>
        </div>
        <div class="syncs zi" v-if="page===2" >
          <br>
          <div v-if="user.status===0">未登录</div>
          <div>
            <ul v-if="user.status===1">
              <li v-for="key in list">
                <i>{{key.id}}</i>-<b>{{ key.dates }}</b>
                <a class="hfbutton">恢复</a>

                <a class="clearbutton">删除</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tools zi"v-if="page===3">

            <div class="toolsnr">
              <br>

              <div class="am-form-group am-form-file">
  <button type="button" class="am-btn am-btn-default am-btn-sm">
    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
  <input type="file" class='importbutton' multiple v-on:change="importbook">
</div>
              <a class="exportbutton am-btn am-radius am-btn-warning" v-on:click="exportbook">本地导出</a>
            </div>

        </div>
        <div class="msgs zi " v-if="page===4">
          <div> 新闻</div>
          <ul>
            <li>更新到了０．１</li>
          </ul>
        </div>
      </div>
    </div>
        <script src="/lib/init.js">
        </script>
        <script src="/lib/delete.js">
        </script>
        <script src='/lib/create.js'>
        </script>
        <script src="/lib/popup.js"></script>
  </body>

</html>
