.vroot{
  width: 220px;
}
.roms{
text-align: center;

}
.roms a {

margin: 3px;

}
.button{
  text-align: center;
}
.button a{
  margin: 3px;
}
.actions{
  text-align: center;
}
.actions  a{
  margin: 3px;
}
.login input {
  display: block;
  width: 170px;
  margin: 2px auto;

}

.hisclose{
  color: #f8f8f8;
}
.histviewz{
  text-align: center;
}
