html{
  height: 500px;
}
.loading{
  height: 500px;
}

.roms{
  width: 250px;
  height: 500px;
}
.nav{
  display: flex;
  justify-content:center;
}
.nav div{
  text-align: center;
    width: 60px;
    height: 60px;
    margin: 1px;
    line-height: 60px;
    background-color: #34cfae;
    border:3px solid #7fd9cb;
}
.nav div:hover{
  background-color: #29ac90;
}

.content{
  text-align: center;
  height: 440px;
  /*border: #0e90d2 solid 1px;*/
  border-radius: 1px;
}
.iconfont{
  text-align: center;
  font-size: 40px;
  color: white;
}
.content .zi{
  height: 440px;
  background-color: #ecf6f2;
}

.logo{
  margin: 0 auto ;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: chartreuse;
}
.users{
  padding-top: 40%;
}
ul li{
  list-style: none;
  margin: 0 0;
  padding: 0 0 ;
}
