<html>
  <head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="popup.css" >
    <script src="/assets/js/vue.js"></script>
  </head>
  <body class="loading">
    <div class="vroot">
      <div class="logins">
        <div class="roms">
          <a class="hist" v-if='user.status == 1'  v-on:click="newhistview" href="#">版本控制</a>
          <a class="logout" v-if='user.status == 1'  v-on:click="logout" href="#" >退出登录</a>
        </div>

      </div>

        <div class="login" v-if='user.status == 0'>
          <input type="text" name="user" placeholder='name' >
          <input type="password"  name="password" placeholder='password'>
        </div>
        <div class="button" v-if='user.status == 0'>
            <a class="login am-btn am-btn-secondary" v-on:click='login' href="#">登录</a> <a class="am-btn am-btn-secondary" href="http://baidu.com" target="view_window" >注册</a>
        </div>
        <div  class="actions"  v-if='user.status == 1'>
          <a class="am-btn am-btn-secondary" href="#" v-on:click='cloneall'>下拉</a>
          <a class="am-btn am-btn-secondary" href="#" v-on:click='pushall'>上推</a>
        </div>

        <div v-if="user.hison" class="hisviewlist am-panel am-panel-primary
">
            <div class="histviewz am-panel-hd"><b>版本控制</b>
              <a href="#" class='hisclose' v-on:click='xhist' >X</a></div>
              <div class="am-panel-bd">
                  面板内容
                  </div>
                    </div>
    </div>
        <script src="delete.js">
        </script>
        <script src='create.js'>
        </script>
        <script src="popup.js"></script>
  </body>

</html>
